<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
      <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net, Version=1.2.10.0, Culture=neutral, PublicKeyToken=1b44e1d426115821" />
    </configSections>

    <log4net debug="false">
      <appender name="LogFileAppender" type="log4net.Appender.RollingFileAppender,log4net">
        <file value="c:\\temp\\cameradevicemanager" />
        <staticLogFileName value="false" />
        <appendToFile value="true" />
        <rollingStyle value="Date" />
        <datePattern value="_yyyyMMdd&quot;.log&quot;" />
        <maxSizeRollBackups value="21" />
        <layout type="log4net.Layout.PatternLayout,log4net">
          <param name="ConversionPattern" value="%date{yyyy-MM-dd HH:mm:ss.fff} [%thread] %-5level %logger %message%newline" />
        </layout>
      </appender>

      <root>
        <priority value="ALL" />
        <appender-ref ref="LogFileAppender" />
      </root>
      <category name="my.category">
        <priority value="DEBUG" />
      </category>
    </log4net>

    <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" /></startup></configuration>
